body{
    margin: 0;
    padding: 0;
}

.card{
    width: 200px;
    height: 360px;
    margin: 20px auto;
    border: 4px yellow solid;
}

.card-body{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.searchArea{
    text-align:center;
    display:flex;
    align-items:center;
    flex-direction:column;
    width:300px;
    gap:5px;
    margin: 0 auto;
    margin-top: 10px;
}

.searchbar{
    text-align:center;
    font-size: 18px;
    border: 1px blue solid;
}

.searchbar::placeholder{
    font-size: 16px;
    text-align:center;
}

.searchbtn{
    width:fit-content;
    border-radius: 40%;
}

.searchbtn:hover{
    background-color:green;
}

#pokeimg{
    width: 100%;
    height: 120px;
}

#audio{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.abilitiestxt{
    float:left;
}